<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Befordringsberegner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <p>Dette er et simpelt værktøj til at analysere din placeringshistorik fra Google Maps 
      og bruge den til at bestemme hvor mange gange du i løbet af et år har været på din arbejdsplads.<br>
    Databehandlingen sker 100 % i din browser og vil dermed ikke blive videregivet til tredjepart.</p>

    <!-- step 1 -->
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Download historik</ion-card-subtitle>
        <ion-card-title>Step 1</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <p>Download din placeringshistorik fra <a href="https://takeout.google.com/">Google Takeout</a></p>
        <img src="/assets/takeout.png" class="img">
      </ion-card-content>
    </ion-card>

    <!-- step 2 -->
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Angiv navn på arbejdsplads</ion-card-subtitle>
        <ion-card-title>Step 2</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-input placeholder="Enter Input" [(ngModel)]="searchString"></ion-input>
      </ion-card-content>
    </ion-card>

    <!-- step 3 -->
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Upload filer</ion-card-subtitle>
        <ion-card-title>Step 3</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        
        <ngx-dropzone 
          (change)="onSelect($event)" 
          [multiple]="true">
          <ngx-dropzone-label>Drop filer her</ngx-dropzone-label>

          <!-- Accepted files -->
          <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
            <ngx-dropzone-label>{{ f.name }} ({{ f.fileSize }})</ngx-dropzone-label>
          </ngx-dropzone-preview>

          <!-- Rejected files -->
          <ngx-dropzone-preview *ngFor="let f of rejectedFiles" [removable]="true" (removed)="onRemove(f)">
            <ngx-dropzone-label class="rejected">
                {{ f.name }} ({{ f.fileSize }})
                <span style="font-size: 12px">{{rejectedLabel}}</span>
            </ngx-dropzone-label>
          </ngx-dropzone-preview>

        </ngx-dropzone>

        <p *ngIf="fileEvaluation">{{fileEvaluation}}</p>

        <ion-button *ngIf="files.length && !fileEvaluation" color="primary" (click)="processFiles()">GO!</ion-button>

      </ion-card-content>
    </ion-card>

    <!-- resultater -->
    <ion-card *ngIf="result">
      <ion-card-header>
        <ion-card-subtitle>RESULTAT</ion-card-subtitle>
        <ion-card-title>Step 4</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        
        <p>Totalt antal besøg for {{year}}: <b>{{result["TOTAL"]}}</b></p>

        <ul>
          <li *ngFor="let m of months" (click)="setShowDetails(m)">
            {{m}}: {{result[m].length}}
            <ul *ngIf="showDetails == m">
              <li *ngFor="let date of result[m]">{{date}}</li>
            </ul>
          </li>
        </ul>

      </ion-card-content>
    </ion-card>

  </div>
</ion-content>
